<ul class="fordtreeview mtree transit">
    <div class="no-checkedselector">
        <div class="toggle-container">
            <input id="toggle-on" class="toggle toggle-left" name="toggle" type="radio" checked>
            <label for="toggle-on" class="btn">On</label>
            <input id="toggle-off" class="toggle toggle-right" name="toggle" type="radio">
            <label for="toggle-off" class="btn">Off</label>
            <label class="deep-label">Deep Search</label>
        </div>
    </div>
    <li class=""><input type="text" class="form-control menufilter" placeholder="Search..."/></li>
    {%for category in categories %}
        {%include "tree_view_template.html" %}
    {%endfor%}
</ul>