<li> <span class="hasSub">
    <a href="{{ category.get_absolute_url }}?deep_search=on" class="fa fa-shield fa-flip-horizontal" style="font-size: 8px" aria-hidden="true"> </a>
    <a href="{{ category.get_absolute_url }}" id="{{ category.id }}">{{ category.name }}</a>
    </span>
    {%if category.children.count > 0 %}
        <ul>
         {%for ch in category.children.all %}
              {%with category=ch template_name="tree_view_template.html" %}
                   {%include template_name%}
              {%endwith%}
         {%endfor%}
         </ul>
    {%endif%}
</li>